<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Kelle Neubauer's Exercise Database API">
    <meta name="author" content="Kelley Neubauer">
    <title>Kelley Neubauer Workout API</title>
</head>
<body>

    {{{body}}}

</body>
</html>