<!--
main.handlebars
kelley@kelleyneubauer.com
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Exercise Library API">
    <meta name="author" content="Kelley Neubauer">
    <title>REST Between Sets</title>
</head>
<body>

    {{{body}}}

</body>
</html>